.craft__list-price {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.craft__list-name {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 48px;
}
.craft__list-img {
  position: relative;
  text-align: center;
}
.craft__list-img img {
  width: 100%;
  max-width: 240px;
  height: auto;
}