/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-size: 16px;
  font-family: "Jet Brains Mono";
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-light);
  background-color: var(--main-bg);
}

* {
  scrollbar-width: thin !important;
  scrollbar-color: #8585AD #2F2F37 !important;
}
*::-webkit-scrollbar-button:decrement,
* ::-webkit-scrollbar-button:increment {
  width: 0px !important;
}

.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.main__block__container {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.main__block__container__column {
  flex: 1;
  padding: 20px;
}

@font-face {
  src: url(./JetBrainsMono-Regular.woff2) format("woff2");
  font-family: "Jet Brains Mono";
  font-weight: normal;
  font-display: swap;
}
@font-face {
  src: url(./JetBrainsMono-Regular.woff) format("woff");
  font-family: "Jet Brains Mono";
  font-weight: normal;
  font-display: swap;
}
@font-face {
  src: url(./JetBrainsMono-Bold.woff2) format("woff2");
  font-family: "Jet Brains Mono";
  font-weight: bold;
  font-display: swap;
}
@font-face {
  src: url(./JetBrainsMono-Bold.woff) format("woff");
  font-family: "Jet Brains Mono";
  font-weight: bold;
  font-display: swap;
}
@font-face {
  src: url(./iceland.woff2) format("woff2");
  font-family: "Iceland";
  font-weight: normal;
  font-display: swap;
}
@font-face {
  src: url(./iceland.woff) format("woff");
  font-family: "Iceland";
  font-weight: normal;
  font-display: swap;
}
:root {
  --main-bg: #131316;
  --main-light: #F2F2F3;
  --secondary-light: #8585AD;
  --main-grey: #8585AD;
  --main-dark: #1C1C21;
  --main-interface: #4C4CFF;
  --interface-input: #2F2F37;
}